<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @timesheet.description %>
</p>

<p>
  <b>Registration:</b>
  <%= @timesheet.registration_id %>
</p>

<p>
  <b>Duration:</b>
  <%= @timesheet.duration %>
</p>


<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
